{% extends 'base.html.twig' %}

{% block body %}

    {% block header %} 
        <header>

            <h1><a href="{{ path('tcc_home') }}"><img src="{{ asset('img/logo.png') }}" alt=""></a></h1>

            <ul class="menu">

                <li><a href="{{ path('tcc_projeto') }}">Conheça o projeto</a>

                    <ul class="submenu">
                        <li><a href="{{ path('tcc_projeto') }}#conceito">Conceito</a></li>
                        <li><a href="{{ path('tcc_projeto') }}#referencias">Referências</a></li>
                        <li><a href="{{ path('tcc_projeto') }}#projeto">Projeto</a></li>
                        <li><a href="{{ path('tcc_projeto') }}#app">App</a></li>
                        <li><a href="{{ path('tcc_projeto') }}#bibliografia">Bibliografia</a></li>
                    </ul>

                </li>

                <li><a href="{{ path('tcc_galeria') }}">Galeria</a></li>

                <li><a href="{{ path('tcc_contato') }}">Contato</a></li>

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li><a id="btnapp" class="bg_vd" href="{{ path('tcc_galeria') }}">AnimApp</a></li>
                    <li><a class="bg_az" href="logout">Sair</a></li>
                    <li class="am" id="user">Olá {{ app.user.username }}!</li>
                {% else %}
                    <li><a id="btnapp" class="bg_vd" href="{{ path('fos_user_security_login') }}">AnimApp</a></li>
                {% endif %}


            </ul>
        </header>
        <div id="fitarosa"></div>
        <div id="fitaazul"></div>
        <div id="fitaverde"></div>
    {% endblock %}

    {% block content %} {% endblock %}

    {% block footer %} 
        <footer>
            <a class="termos rs" href="{{ path('tcc_termo') }}">Termos de uso</a>
            <p>Projeto de Conclusão de Curso de Flavia A. Piocopi, Virgínia Rubia A. F. X. de Moraes e Diego Biagi Viana</p>
            <p>Grupo de pesquisa <a class="am" href="http://www.pipolunesp.com.br/">P.I.P.O.L.</a> - UNESP Bauru</p>
        </footer>
    {% endblock %}


{% endblock %}
