{% extends 'layout.html.twig' %}

{% block content %}
    <section class="container">
        <div class="row col-md-offset-3 title">
            <h2 class="az">Faça login para continuar</h2>
        </div>

        {% if error.message is defined %}
            <div class="col-md-offset-3 text-danger">
                <p>{{ error.message|trans }}</p>
            </div>
        {% endif %}

        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <div class="row form-group">
                <label class="col-md-3 control-label" for="username">Email</label>
                <div class="col-md-5">
                    <input class="form-control" type="email" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>
            </div>

            <div class="row form-group">
                <label class="col-md-3 control-label" for="password">Senha: </label>
                <div class="col-md-5">
                    <input class="form-control " type="password" id="password" name="_password" required="required"/>
                </div>
            </div>

            <div class="row form-group">
                <div class="checkbox col-md-offset-3  col-md-5">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        Mantenha-me conectado
                    </label>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-offset-3  col-md-5">
                    <input class="btn-custom bg_rs" type="submit" id="_submit" name="_submit" value="Entrar"/>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-offset-3  col-md-3">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn-custom bg_am btn-mini">Ainda não sou cadastrado</a>
                </div>

                <div class="col-md-4">
                    <a href="#" data-toggle="modal" data-target="#reset-modal">Esqueci minha senha</a>
                </div>
            </div>
        </form>
    </section>
    {% include 'FOSUserBundle:Resetting:request_modal.html.twig' %}
{% endblock %}

