<header>
    <h1><a href="{{ path('main_home') }}"><img src="{{ asset('img/logo.png') }}" alt=""></a></h1>
    <ul class="menu">
        <li><a href="{{ path('main_projeto') }}">Conheça o projeto</a>
            <ul class="submenu">
                <li><a href="{{ path('main_projeto') }}#conceito">Conceito</a></li>
                <li><a href="{{ path('main_projeto') }}#referencias">Referências</a></li>
                <li><a href="{{ path('main_projeto') }}#projeto">Projeto</a></li>
                <li><a href="{{ path('main_projeto') }}#app">App</a></li>
                <li><a href="{{ path('main_projeto') }}#bibliografia">Bibliografia</a></li>
            </ul>
        </li>
        <li><a href="{{ path('animation_list') }}">Galeria</a></li>
        <li><a href="{{ path('main_contato') }}">Contato</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a id="btnapp" class="bg_vd" href="{{ path('animation_list') }}">AnimApp</a></li>
            <li><a class="bg_az" href="{{ path('fos_user_security_logout') }}">Sair</a></li>
            <li class="am" id="user">Olá {{ app.user.firstname|capitalize }}!</li>
            {% else %}
            <li><a id="btnapp" class="bg_vd" href="{{ path('fos_user_security_login') }}">AnimApp</a></li>
            {% endif %}
    </ul>
</header>