{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animapp.css') }}">
    <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    <script src="{{ asset('libs/eventEmitter/EventEmitter.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('libs/fabric.js/dist/fabric.js') }}"></script>
    <script type="text/javascript" src="{{ asset('animapp/dist/build.js') }}"></script>
{% endblock %}

{% block body %} 
    <div class="containerApp">
        <div id="ferramentas">
            <ul>
                <li><a data-tool="pencil" class="icon-pincel tool" title="Pincel"></a></li>
                <li><a data-tool="eraser" class="icon-borracha tool" title="Borracha"></a></li>
                <li><a data-tool="stroke" class="icon-linha tool" title="Linha"></a></li>
                <li><a data-tool="rect" class="icon-retangulo tool" title="Retângulo"></a></li>
                <li><a data-tool="elipse" class="icon-elipse tool" title="Elipse"></a></li>
                <li><a data-tool="move" class="icon-mover tool" title="Mover"></a></li>
                <li><a data-tool="resize" class="icon-redimensionar tool" title="Redimensionar"></a></li>
                <li><a data-tool="bucket" class="icon-balde tool" title="Lata de tinta"></a></li>
                <li><a data-tool="file" class="icon-anexar tool" title="Adicionar arquivo"></a></li>
                <li><a data-tool="color" class="icon-cor tool" title="Cor"></a></li>
            </ul>
        </div>
        <div id="acoes">
            <ul>
                <li>
                    <a href=""><em class="aberto"></em> Mover</a>
                    <ul class="aberto">
                        <li><span class="icon-tempo"></span><input type="text">/<input type="text"></li>
                    </ul>
                </li>
                <li>
                    <a href=""><em class="aberto"></em> Redimensionar</a>
                    <ul class="aberto">
                        <li><span class="icon-tempo"></span><input type="text">/<input type="text"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="principal">
            <div id="barra-topo">
                <div id="timer">00:00</div>
                <ul>
                    <li><a class="icon-desfazer" title="Desfazer" ></a></li>
                    <li><a class="icon-refazer" title="Refazer" ></a></li>
                    <li><a class="icon-ok" title="Finalizar" ></a></li>
                    <li><a href="{{ path('main_animapp') }}" class="icon-fechar" title="Sair do App"></a></li>
                </ul>    
            </div>
            <div id="animapp"></div>
        </div>
        <div id="timeline">
            <div class="botoes">
                <a class="icon-rever"></a>
                <a class="playpause icon-play"></a>
            </div>
            <div id="timebar">
                <div id="timebar-feito" style="width:80%"></div>
                <div id="timebar-block" style="width:50%"></div>
            </div>
        </div>
    </div>
{% endblock %}
