{% block animation_widget %} 
    <ul id="progress" class="galeria clear">
        {% for part in parts %}
            <li>
                <a data-toggle="modal"
                        data-target="#part-modal"
                        data-thumbnail="{{ part.thumbnail }}"
                        data-url="{{ path('edit_animation', { id: part.id }) }}">
                    <img src="{{ part.thumbnail }}" alt="{{ part.author }}">
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="container">
        {{ knp_pagination_render(parts) }}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="part-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <a href="" type="button" id="edit" class="btn btn-primary">Continuar esta!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
